# TensorFlow Federated Bazel configuration.
#
# See https://docs.bazel.build/versions/master/user-manual.html#config for
# details on the various configuration options.

# Enable verbose failures for testing only.
build --verbose_failures

# Enable logging rc options.
common --announce_rc

# Enable platform-specific configs from bazelrc files.
common --enable_platform_specific_config

# Enable logging error output.
test --test_output=errors
test --test_summary=detailed

# Execute commands as local subprocesses
build --spawn_strategy=local

# Enable build optimizations.
build --compilation_mode=opt

# Enable fast C++ protocol buffers, 10x speedup over pure Python.
build --define=use_fast_cpp_protos=true
build --define=allow_oversize_protos=true

# Processor native optimizations (depends on build host capabilities).
build --copt=-march=native
build --host_copt=-march=native
# Only use level three optimizations for target, not necessarily for host
# since host artifacts don't need to be fast.
build --copt=-O3

# C++ compiler options.
build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14
build --copt=-Wno-ignored-attributes
build --copt=-Wno-missing-field-initializers
build --copt=-Wno-unknown-pragmas
build:linux --copt=-Wno-stringop-truncation
build:linux --copt=-Wno-ignored-attributes

# gRPC on MacOS requires this define, see
# https://github.com/bazelbuild/bazel/issues/4341#issuecomment-572050759 for
# more information.
build:macos --copt=-DGRPC_BAZEL_BUILD

#
# Remote execution capabilities.
#

# Enable authentication.
build:remote --google_default_credentials=true

# Enable remote cache.
build:remote --remote_cache=grpcs://remotebuildexecution.googleapis.com

# Project configuration.
build:remote --remote_instance_name=projects/tensorflow-federated/instances/default_instance
build:remote --project_id=tensorflow-federated

#
# Required to build TensorFlow.
#
build --define framework_shared_object=true
# Modular TF build options
build:dynamic_kernels --define=dynamic_loaded_kernels=true
build:dynamic_kernels --copt=-DAUTOLOAD_DYNAMIC_KERNELS

# GCC >= 5 requires specify this to be ABI compatible with how the TensorFlow
# pip package is built. More details at
# https://www.tensorflow.org/guide/create_op#build_the_op_library.
build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0

# On linux, don't cross compile by default
build:linux --config=dynamic_kernels
build:linux --distinct_host_configuration=false
build:linux --experimental_guard_against_concurrent_changes
build:linux --define=PREFIX=/usr
build:linux --define=LIBDIR=$(PREFIX)/lib
build:linux --define=INCLUDEDIR=$(PREFIX)/include
build:linux --define=PROTOBUF_INCLUDE_PATH=$(PREFIX)/include

build:avx_linux --copt=-mavx
build:avx_linux --host_copt=-mavx
build:native_arch_linux --copt=-march=native
build:v1 --define=tf_api_version=1 --action_env=TF2_BEHAVIOR=0
build:v2 --define=tf_api_version=2 --action_env=TF2_BEHAVIOR=1

# See https://github.com/bazelbuild/bazel/issues/7362 for information on what
# --incompatible_remove_legacy_whole_archive flag does.
# This flag is set to true in Bazel 1.0 and newer versions. We tried to migrate
# Tensorflow to the default, however test coverage wasn't enough to catch the
# errors.
# There is ongoing work on Bazel team's side to provide support for transitive
# shared libraries. As part of migrating to transitive shared libraries, we
# hope to provide a better mechanism for control over symbol exporting, and
# then tackle this issue again.
#
# Remove this line once TF doesn't depend on Bazel wrapping all library
# archives in -whole_archive -no_whole_archive.
build --noincompatible_remove_legacy_whole_archive
build --noincompatible_do_not_split_linking_cmdline
build --enable_platform_specific_config

build --define=grpc_no_ares=true
build --define=no_aws_support=true
build --define=no_hdfs_support=true

build --define=with_xla_support=true
build --config=v2

# Enable remote execution capabilities.
common --experimental_repo_remote_exec
