# TensorFlow Federated Bazel configuration.
#
# See https://docs.bazel.build/versions/master/user-manual.html#config for
# details on the various configuration options.

# Build with modular op registration support by default.
common --define=framework_shared_object=true

# Bazel workaround to compile gRPC with the new 'cares' package.
common --define=grpc_no_ares=true

# Build and test with optimization enabled.
common -c opt

# Processor native optimizations (depends on build host capabilities).
common --copt=-march=native
common --host_copt=-march=native
common --copt=-O3

# Disable Tensorflow extensions that are not needed for Tensorflow Federated.
common --define=no_aws_support=true
common --define=no_hdfs_support=true
common --define=no_kafka_support=true
common --define=no_ignite_support=true
common --define=no_nccl_support=true
# TODO(b/121151810): uncomment: build --define=no_gcp_support=true
