# Requirements for TensorFlow Federated development. If you add a dependency
# here and the dependency is required by the Python package, also add it to
# https://github.com/tensorflow/federated/blob/main/tensorflow_federated/tools/development/setup.py.
absl-py~=0.15.0
attrs~=21.2.0
cachetools~=3.1.1
dm-tree~=0.1.1
farmhashpy~=0.4.0
grpcio~=1.37.0
jaxlib~=0.1.55
jax~=0.2.8
numpy~=1.21.4
portpicker~=1.3.1
semantic-version~=2.8.5
tensorflow-model-optimization~=0.7.0
tensorflow-privacy~=0.7.3
tf-nightly
tqdm~=4.28.1
tensorflow
kubernetes
