# Requirements for the TensorFlow Federated development environment.
#
# If you add a *new* dependency and it is required by the TensorFlow Federated
# package, also add the dependency to
# https://github.com/tensorflow/federated/blob/main/tensorflow_federated/tools/development/setup.py.
#
# If you update the version of an *existing* dependency and it is required by
# the TensorFlow Federated package, also update the version of the dependency in
# https://github.com/tensorflow/federated/blob/main/tensorflow_federated/tools/development/setup.py.
#
# *   For packages that have a stable release, we use a version that is
#     compatible with that release (e.g. `~=x.y`). See
#     https://peps.python.org/pep-0440/#compatible-release for more information.
# *   For packages that do not have a stable release, we use a version that
#     matches a release that has been tested (e.g. `==x.y.z`). See
#     https://peps.python.org/pep-0440/#version-matching for more information.
#
# Note: There is bug in `pip` when multiple packages use the compatible release
# operator `~=` to specify a version and one of those versions ends in `0`. See
# https://github.com/pypa/pip/issues/9613 for more information. In this case,
# use the equivalent clause `>=x.0,==x.*` instead of `~=x.0`.
#
# This assumes that the packages follows Semantic Versioning, see
# https://semver.org/. If a package follows a different versioning scheme or
# requires unique handling, we use a different version specifier and comment the
# versioning scheme or reasoning.

absl-py>=1.0,==1.*
attrs~=21.4
cachetools~=3.1
dm-tree==0.1.7
dp-accounting==0.3.0
farmhashpy==0.4.0
grpcio~=1.46
jaxlib==0.3.15
jax==0.3.15
numpy~=1.21
portpicker~=1.5
pytype==2022.12.15
semantic-version~=2.6
tensorflow-compression~=2.12.0
tensorflow-model-optimization==0.7.3
tensorflow-privacy==0.8.8
# The version of this dependency should match the version in
# https://github.com/tensorflow/federated/blob/main/WORKSPACE.
tensorflow~=2.12.0
tqdm~=4.64
typing-extensions~=4.4.0
