# If you add a requirement here, also add it to the Dockerfile, and
# (if it is needed by the PIP packages) to tools/development/setup.py.
absl-py~=0.7
attrs~=18.2
enum34~=1.1
grpcio~=1.8.0
h5py~=2.6
matplotlib~=3.0
numpy~=1.14
pandas~=0.24.0
portpicker
six~=1.10
tensorflow-model-optimization~=0.1.2
tf-nightly
typing~=3.7.0
